body {
    background:url('../images/castle.jpg');
    opacity: 50%;
    /* padding-top: 20px; */
    margin-top: 20px;
}

.container {
    /* background-color: hotpink; */
    font-family: 'Indie Flower', cursive;
}

.jumbotron {
    color: white;
    text-align: center, left;
    background-color: hotpink;
    font-weight: 850;
    /* padding-top: 20px; */
    opacity: .75;
    margin-right: 550px;
}

.boxes {
    border: 5px;
    color: white;
    font-size: 40px;
    font-weight: 900;
}

.panel-title {
    border: 5px;
    color: white;
    font-size: 60px;
    font-weight: 900;
}